html,
body {
  height: 100%;
}
body {
  background: #726868;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
/* -------------------------------------------------------------------------- */
/*                                Progress Bar                                */
/* -------------------------------------------------------------------------- */
#top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
#top .containers {
  display: flex;
  flex-direction: column;
}
#top .containers .progress-container {
  border: solid #35354d;
  height: 30px;
  width: 400px;
  background: #ff0000;
  background: linear-gradient(90deg, #ff0000 54%, #000000 55%, #000000 100%);
  text-align: center;
  font-size: x-large;
  font-style: italic;
  color: white;
}
#top .containers .progress-container .progress {
  height: 100%;
  width: 200;
  min-width: 0px;
  max-width: 400px;
  z-index: 1;
}
#top .containers .progress-container .text {
  text-align: center;
}
#shop-button {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/*                                    Modal                                   */
/* -------------------------------------------------------------------------- */
.modal {
  height: 700px;
  width: 1200px;
  padding: 0;
}
.modal #title-modal {
  margin-top: 0;
  padding: 1rem;
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.modal-content {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.modal[open] {
  animation: slide-up 100ms forwards, fade-in 250ms forwards;
}
.modal[open]::backdrop {
  animation: fade-in 250ms forwards;
}
.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 250ms forwards;
}
.modal[closing]::backdrop {
  animation: fade-out 250ms forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* -------------------------------------------------------------------------- */
/*                                Close Button                                */
/* -------------------------------------------------------------------------- */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 1000;
}
.close:hover,
.close:focus {
  color: #faa200;
  text-decoration: none;
  cursor: pointer;
}
#switch_shop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#switch_shop span {
  cursor: pointer;
  display: flex;
}
#switch_shop .selected {
  color: #faa200;
  font-weight: bold;
}
/* -------------------------------------------------------------------------- */
/*                                    Shop                                    */
/* -------------------------------------------------------------------------- */
#shop {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: minmax(30px, auto);
}
#shop .rubric {
  border: solid 2px black;
}
#shop .clickable:hover:not(.selected) {
  color: #faa200;
  background-color: rgba(51, 255, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
}
#shop #main-title {
  grid-column: 1/2;
  grid-row: 1/2;
  border-bottom: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
#shop #main-title .clickable {
  padding: 5%;
}
#shop #supplier {
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 4fr;
}
#shop #supplier .clickable {
  padding: 12.5%;
}
#shop #left-page {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#shop #right-page {
  grid-column: 2/3;
  grid-row: 2/3;
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#shop #left-page div,
#shop #right-page div {
  margin: 1rem;
  border: dashed 2px black;
}
.selected {
  background-color: red;
}
