<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png" />

    <script src="https://kit.fontawesome.com/f588d3df13.js" crossorigin="anonymous"></script>

    <!-- JS modules -->
    <script src="/socket.io/socket.io.js"></script>

    <title>Don't Collapse | Game</title>

    <link rel="stylesheet" href="/CSS/hud.css">

    <!-- JS modules -->

</head>

<body>

    <input type="hidden" value="<%= username %>" id="username" />

    <div id="room">
        <h1>Bienvenue <%= username %> !</h1>
        <div id="player_list"></div>
        <button type="submit" id="BtnGame" style="display: none;"><i class="fa-solid fa-display"></i> Commencer la
            partie !</button>
        <button id="chat-button"><i class="fa-solid fa-comment-dots"></i> Ouvrir le Chat</button>
    </div>



    <!-- <div style="position:absolute;margin-top:50px;font-weight:bold;">
        <p style="color:red">X axis</p>
        <p style="color:green">Y axis</p>
        <p style="color:blue">Z axis</p>
    </div> -->

    <canvas id="myThreeJsCanvas" style="display:none"></canvas>

    <div id="myMenuShop">
        <h1 id="title_menuShop">Titre</h1>
        <div>
            <div id="icon1">
                <ion-icon id="icon1_img" name="pricetag-outline"></ion-icon>
            </div>

        </div>
    </div>
    <div id="myMenuSortie">
        <h1 id="title_menuSortie">Titre</h1>
        <div id="SortiWrap">
            <!-- Bla -->
        </div>
    </div>


    <div style="display: none;" id="game">
        <br>


        <!-- Progress Bar -->
        <div id="top">
            <div class="containers">
                <div class="containedBy">
                    <div class="progress-container">
                        <div class="progress"></div>
                    </div>
                    <p class="textPro">Social</p>
                </div>
                <div class="containedBy margin_righttt">
                    <div class="progress-container ">
                        <div class="progress"></div>
                    </div>
                    <p class="textPro">Economique</p>
                </div>
                <div class="containedBy margin_righttt">
                    <div class="progress-container ">
                        <div class="progress"></div>
                    </div>
                    <p class="textPro">Ecologique</p>
                </div>
            </div>
            <div id="main_board">
                <h1>Tableau de Bord</h1>
                <div class="main_content">
                    <div>
                        <h2>> Depenses previsionnelles :</h2>
                        <p><span id="prev-expe"></span> €</p><br>
                    </div>
                    <div>
                        <h2>> Revenus previsionnels :</h2>
                        <p><span id="prev-income"></span>€</p><br>
                    </div>
                    <div>
                        <h2>> Nombre d'employes : <span id="nb-employee"></span></h2>
                        <table>
                            <tr>
                                <td>Mainteneur(s) embauché(s) : <strong><span id="actual-maint"></span></strong></td>
                            </tr>
                            <tr>
                                <td>Technicien(s) de surface embauché(s) : <strong><span id="actual-clean"></span></strong></td>
                            </tr>
                            <tr>
                                <td>Ingénieur(s) embauché(s) : <strong><span id="actual-inge"></span></strong></td>
                            </tr>
                            <tr>
                                <td>Personnel(s) administratif embauché(s) : <strong><span id="actual-super"></span></strong></td>
                            </tr>
                        </table><br>
                    </div>
                    <div>
                        <h2>> Consommation d'energie actuelle :</h2>
                        <table>
                            <tr>
                                <td class="txt_align_center"><i class="fa-solid fa-bolt-lightning"></i></td>
                                <td><span id="actual-elec"></span> kW/h</td>
                            </tr>
                            <tr>
                                <td class="txt_align_center"><i class="fa-solid fa-droplet"></i></td>
                                <td><span id="actual-water"></span> m3</td>
                            </tr>
                            <tr>
                                <td class="txt_align_center"><i class="fa-solid fa-hockey-puck"></i></td>
                                <td><span id="actual-etain"></span> Bobines</td>
                            </tr>
                            <tr>
                                <td class="txt_align_center"><i class="fa-solid fa-box-open"></i></td>
                                <td><span id="actual-card"></span> Cartons</td>
                            </tr>
                        </table><br>
                    </div>
                </div>
            </div>
            <div class="containers"
                style="width:auto;margin-top:10px;justify-content:space-around;flex-direction:column-reverse;">
                <div>
                    <p style="margin:0;margin-top:10px;padding:0;"><span id="minutes"></span> : <span
                            id="seconds"></span></p>
                </div>
                <div id="money-container">
                    <p class="txtMoney" style="margin-top:0px;"><span id="money-amount">50000</span> €</p>
                </div>
            </div>

            <div id="main_board_tuto">
                <h1>Tutorial</h1>
                <div class="main_content">
                    <div>
                        <h2>> Message de l'ancien proprietaire :</h2>
                        <p>
                            Merci d'avoir repris mon usine. Je sais que c'est un challenge pour toi, de refaire partir
                            l'industrie de l'ordinateur portable quand le marché est partagé entre les grandes
                            multinationales. Je compte sur toi pour pouvoir continuer à faire vivre mon usine avec nos
                            partenaires locaux. Je crois en toi.</p><br>
                    </div>
                    <div>
                        <h2>> Changer de camera :</h2>
                        <p>Appuyer sur les touches "1", "2" ou "3"</p><br>
                    </div>
                    <div>
                        <h2>> But du jeu :</h2>
                        <p>Améliorez vos machines, gérez votre personnel, le tout grâce à la boutique pour faire le plus
                            de recettes possibles en repectant vos différents objectifs de développement durable.</p>
                        <br>
                    </div>
                    <div>
                        <h2>> Mode spectateur :</h2>
                        <p>Cliquez sur la porte pour aller voir l'avancement de vos adversaires, et tenter de les
                            surpasser !</p><br>
                    </div>
                    <div>
                        <h2>> Conditions de victoire :</h2>
                        <p>Ne faites pas faillite, ayez le meilleur ratio Argent - ODD ! Ou soyez le dernier en lice
                            pour la victoire.</p><br>
                    </div>
                    <div>
                        <h2>> Conditions de defaite :</h2>
                        <p>Vous perdez si vous avez plus de 10k € de dettes, ou que l'un de ODD est tombé à 0. Évitez
                            ça, et lancez vous dans la bataille</p><br>
                    </div>
                </div>
            </div>

        </div>

        <dialog class="modal" id="shop-modal">
            <div class="modal-content">
                <div class="top-modal">
                    <h2 class="title-modal">Bienvenue dans la boutique !</h2>
                    <span class="close-button" id="close-shop">&times;</span>
                </div>
                <div id="shop">
                    <div id="main-title" class="rubric title_ressources">
                        <div class="top1 clickable selected">Ressources</div>
                        <div class="top2 clickable">Personnel</div>
                        <div class="top3 clickable">Neuf</div>
                        <div class="top4 clickable">Occasion</div>
                    </div>

                    <div id="supplier" class="rubric">
                        <div class="elec clickable selected" style="display:block;">Electricite</div>
                        <div class="eau clickable" style="display:block;">Eau</div>
                        <div class="cartons clickable" style="display:block;">Cartons</div>
                        <div class="etain clickable" style="display:block;">Etain - Quincaillerie</div>

                        <div class="perso clickable" style="display: none;">Personnel</div>

                        <div class="manix clickable" style="display: none;">Manix 2</div>
                        <div class="droit clickable" style="display: none;">Droit O But</div>
                        <div class="braz clickable" style="display: none;">Braz'Air'Eau</div>
                        <div class="tesla clickable" style="display: none;">Teslassemblage</div>

                        <div class="occaz clickable" style="display: none;">Mes occasions</div>
                    </div>


                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Gauche                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="left-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->
                        <div class="elec 1 clickable" style="display:block;">
                            <div class="item-title" style="display: block;">
                                <p>Coup de Foudre</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div class="elec 2 clickable" style="display:block;">
                            <div class="item-title" style="display: block;">
                                <p>Electricite d'Euler</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                        <div class="eau 1 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Hache 2 Eaux</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div class="eau 2 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Electricite d'Euler</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                        <div class="cartons 1 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Jean Balle</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div class="cartons 2 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Toutankharton</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                        <div class="etain 1 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Casto la bas</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div class="etain 2 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Quincaillepleure</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->
                        <div class="maint clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Maintenance</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                                <p></p>
                                <button class="buy-button">Recruter</button>
                            </div>
                        </div>
                        <div class="menage clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Menage</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                                <p></p>
                                <button class="buy-button">Recruter</button>
                            </div>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->
                        <div class="manix 0 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Poste a souder</p>
                                <p>Niveau 1</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="manix 1 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur de precision</p>
                                <p>Niveau 1</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit 0 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Poste a souder </p>
                                <p>Niveau 2</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit 1 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur de precision </p>
                                <p> Niveau 2</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz 0 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Poste a souder</p>
                                <p>Niveau 3</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz 1 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur de precision</p>
                                <p>Niveau 3</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla 0 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Poste a souder</p>
                                <p>Niveau 4</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla 1 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur de precision </p>
                                <p>Niveau 4</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div disable class="occaz j1 clickable" style="display: none;">
                            <div>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div disable class="occaz j2 clickable" style="display: none;">
                            <div>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                    </div>

                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Droite                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="right-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->

                        <div class="elec 3 clickable" style="display:block;">
                            <div class="item-title" style="display: block;">
                                <p>Petit Tonnerre</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec 4 clickable" style="display:block;">
                            <div class="item-title" style="display: block;">
                                <p>Durexcel</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="eau 3 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Rheaum</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau 4 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Cri'Staline</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="cartons 3 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Mine Carton</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons 4 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Scotch Willski</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="etain 3 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>P'etain clou</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain 4 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Le Roi Merlin</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                            </div>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->

                        <div class="inge clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Ingenieur</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                                <p></p>
                                <button class="buy-button">Recruter</button>
                            </div>
                        </div>
                        <div class="super clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Administratif</p>
                            </div>
                            <div class="item-description" style="display:none;">
                                <p>Rapide description</p>
                                <p></p>
                                <button class="buy-button">Recruter</button>
                            </div>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->

                        <div class="manix 2 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur mecanique</p>
                                <p> Niveau 1</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div class="manix 3 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur general</p>
                                <p> Niveau 1</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                        <div class="droit 2 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur mecanique </p>
                                <p>Niveau 2</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div class="droit 3 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur general </p>
                                <p>Niveau 2</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                        <div class="braz 2 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur mecanique </p>
                                <p>Niveau 3</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div class="braz 3 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur general </p>
                                <p>Niveau 3</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                        <div class="tesla 2 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur mecanique </p>
                                <p>Niveau 4</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div class="tesla 3 clickable" style="display: none;">
                            <div class="item-title" style="display: block;">
                                <p>Assembleur general </p>
                                <p>Niveau 4</p>
                            </div>
                            <div class="item-description" style="display:none;">
                            </div>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div disable class="occaz j1 clickable" style="display: none;">
                            <div>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>
                        <div disable class="occaz j4 void clickable" style="display: none;">
                            <div>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display:none;">Acheter</button>
                        </div>

                    </div>
                </div>
            </div>
            <dialog id="confirm-buy" class="modal">
                <div class="modal-content">
                    <h2>Devis</h2><br>
                    <div id="confirm-div" style="display: block;">
                        <p id="buying"></p><br>
                        <div>
                            <button id="oui-buy">Oui</button>
                            <button id="non-buy">Non</button>
                        </div>
                    </div>
                    <div id="input-div" style="display: none;">
                        <p>Pour quel prix ?</p>
                        <form id="price-form" action="">
                            <input type="number" id="input-price" autocomplete="off" placeholder="Prix de vente"
                                min="0" />
                            <button class="button">Vendre</button>
                        </form>
                    </div>
                </div>
            </dialog>
        </dialog>
    </div>

    <dialog class="modal" id="chat-modal">
        <div class="modal-content">
            <div class="top-modal">
                <h2 class="title-modal">Conversation</h2>
                <span class="close-button" id="close-chat">&times;</span>
            </div>
            <form id="chatForm" action="">
                <input id="input-chat" autocomplete="off" placeholder="Message" /><button
                    class="button">Envoyer</button>
            </form>
            <div id="messages"></div>

        </div>
    </dialog>

    <dialog class="modal" id="results-modal">
        <div class="modal-content">
            <div class="top-modal">
                <h2 class="title-modal">Resultats</h2>
            </div>
            <p id="context"></p>
            <div id="playerListDiv" style="display:none;"></div>
            <i class="fa-solid fa-right-from-bracket" id="disconnectionResults"></i>
        </div>
    </dialog>

    <dialog class="modal" id="events-modal">
        <div class="param-content">
            <h2 class="title-modal">Evenement</h2>
            <div id="events-content">
            </div>
        </div>
    </dialog>

    <div id="parameters">
        <i class="param-content fa-solid fa-bell" style="display:none;"></i>
        <i class="param-content fa-solid fa-bell-slash" style="display:none;"></i>
        <i class="param-content fa-solid fa-volume-high" style="display:none;"></i>
        <i class="param-content fa-solid fa-volume-off" style="display:none;"></i>
        <i class="param-content fa-solid fa-right-from-bracket" style="display:none;"></i>
        <i class="param-content fa-solid fa-cloud" style="display:none;"></i>
        <i class="param-content fa-solid fa-sun" style="display:none;"></i>
        <i class="fa-solid fa-gears"></i>
    </div>
    <dialog id="confirm-disconnect" class="modal">
        <div class="modal-content">
            <p>Voulez vous vraiment vous déconnecter ?</p>
            <div>
                <button id="oui-disconnect" class="button">Oui</button>
                <button id="non-disconnect" class="button">Non</button>
            </div>
        </div>
    </dialog>

    <div class="cameraName">
        Camera 1
    </div>
    <div class="cameraName usineDiv" style="cursor:pointer">
        Retourner à mon usine
    </div>
    <!-- Debug -->
    <script type="text/javascript" src="JS/game/stats.min.js"></script>

    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.137.0/build/three.module.js"
            }
        }
    </script>

    <!-- ThreeJS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="module" src="./JS/game/app.js"></script>
    <script src="JS/game.js" type="module"></script>
    <script src="JS/http_module.js" type="module"></script>
</body>

</html>