<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Collapse | Game</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png" />

    <script src="https://kit.fontawesome.com/f588d3df13.js" crossorigin="anonymous"></script>

    <!-- JS modules -->
    <script src="/socket.io/socket.io.js"></script>


    <link rel="stylesheet" href="/CSS/hud.css">

</head>

<body>

    <input type="hidden" value="<%= username %>" id="username" />

    <div id="room">
        <h1>Welcome <%= username %>
        </h1>
        <div id="player_list"></div>
        <button type="submit" id="BtnGame" style="display: none;">Start Game !</button>
        <button id="chat-button">Open Chat</button>
    </div>

    <div style="display: none;" id="game">
        <h1>Let's play <%= username %>
        </h1>


        <!-- Progress Bar -->
        <div id="top">
            <div class="containers">
                <div class="progress-container">Social</div>
                <div class="progress-container">Economic</div>
                <div class="progress-container">Ecologic</div>
            </div>

            <div>
                <p><span id="minutes"></span>:<span id="seconds"></span></p>
            </div>
            <div id="money-container">
                <p><span id="money-amount">50000</span>€</p>
            </div>

        </div>



        <!-- Modal Shop -->
        <button class="button" id="shop-button">Shop</button>
        <dialog class="modal" id="shop-modal">
            <div class="modal-content">
                <div class="top-modal">
                    <h2 class="title-modal">Bienvenue dans le shop !</h2>
                    <span class="close-button" id="close-shop">&times;</span>
                </div>
                <div id="shop">
                    <div id="main-title" class="rubric">
                        <div class="top1 clickable selected">Ressources</div>
                        <div class="top2 clickable">Personnel</div>
                        <div class="top3 clickable">Neuf</div>
                        <div class="top4 clickable">Occasion</div>
                    </div>

                    <div id="supplier" class="rubric">
                        <div class="elec clickable selected" style="display:block;">Electricite</div>
                        <div class="eau clickable" style="display:block;">Eau</div>
                        <div class="cartons clickable" style="display:block;">Cartons</div>
                        <div class="etain clickable" style="display:block;">Etain - Quincaillerie</div>

                        <div class="perso clickable" style="display: none;">Personnel</div>

                        <div class="manix clickable" style="display: none;">Manix 2</div>
                        <div class="droit clickable" style="display: none;">Droit O But</div>
                        <div class="braz clickable" style="display: none;">Braz'Air'Eau</div>
                        <div class="tesla clickable" style="display: none;">Teslassemblage</div>

                        <div class="occaz clickable" style="display: none;">Mes occasions</div>
                    </div>


                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Gauche                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="left-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->
                        <div class="elec 1 clickable" style="display:block;">
                            <p>Coup de Foudre</p>
                            <p style="display: none;">Rapide description de coup de foudre</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec 2 clickable" style="display:block;">
                            <p>Electricite d'Euler</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="eau 1 clickable" style="display: none;">
                            <p>Hache 2 Eaux</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau 2 clickable" style="display: none;">
                            <p>Electricite d'Euler</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="cartons 1 clickable" style="display: none;">
                            <p>Jean Balle</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons 2 clickable" style="display: none;">
                            <p>Toutankharton</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="etain 1 clickable" style="display: none;">
                            <p>Casto la bas</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain 2 clickable" style="display: none;">
                            <p>Quincaillepleure</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->
                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="menage clickable" style="display: none;">
                            <p>Menage</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->
                        <div class="manix 0 clickable" style="display: none;">
                            <p>Poste a souder</p>
                            <p>Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="manix 1 clickable" style="display: none;">
                            <p>Assembleur de precision</p>
                            <p>Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit 0 clickable" style="display: none;">
                            <p>Poste a souder </p>
                            <p>Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit 1 clickable" style="display: none;">
                            <p>Assembleur de precision </p>
                            <p> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz 0 clickable" style="display: none;">
                            <p>Poste a souder</p>
                            <p>Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz 1 clickable" style="display: none;">
                            <p>Assembleur de precision</p>
                            <p>Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla 0 clickable" style="display: none;">
                            <p>Poste a souder</p>
                            <p>Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla 1 clickable" style="display: none;">
                            <p>Assembleur de precision </p>
                            <p>Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div disable class="occaz j1 clickable" style="display: none;">
                            <p>Rien n'est a vendre</p>
                            <p>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div disable class="occaz j2 clickable" style="display: none;">
                            <p>Rien n'est a vendre</p>
                            <p>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                    </div>

                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Droite                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="right-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->

                        <div class="elec 3 clickable" style="display:block;">
                            <p>Petit Tonnerre</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec 4 clickable" style="display:block;">
                            <p>Durexcel</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="eau 3 clickable" style="display: none;">
                            <p>Rheaum</p>
                            <p style="display: none;">Rapide description</p>
                            <button class=" buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau 4 clickable" style="display: none;">
                            <p>Cri'Staline</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="cartons 3 clickable" style="display: none;">
                            <p>Mine Carton</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons 4 clickable" style="display: none;">
                            <p>Scotch Willski</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="etain 3 clickable" style="display: none;">
                            <p>P'etain clou</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain 4 clickable" style="display: none;">
                            <p>Le Roi Merlin</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->

                        <div class="inge clickable" style="display: none;">
                            <p>Ingenieur</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="super clickable" style="display: none;">
                            <p>Superviseur</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->

                        <div class="manix 2 clickable" style="display: none;">
                            <p>Assembleur mecanique</p>
                            <p> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="manix 3 clickable" style="display: none;">
                            <p>Assembleur general</p>
                            <p> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit 2 clickable" style="display: none;">
                            <p>Assembleur mecanique </p>
                            <p>Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit 3 clickable" style="display: none;">
                            <p>Assembleur general </p>
                            <p>Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz 2 clickable" style="display: none;">
                            <p>Assembleur mecanique </p>
                            <p>Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz 3 clickable" style="display: none;">
                            <p>Assembleur general </p>
                            <p>Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla 2 clickable" style="display: none;">
                            <p>Assembleur mecanique </p>
                            <p>Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla 3 clickable" style="display: none;">
                            <p>Assembleur general </p>
                            <p>Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div disable class="occaz j1 clickable" style="display: none;">
                            <p>Rien n'est a vendre</p>
                            <p>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div disable class="occaz j4 void clickable" style="display: none;">
                            <p>Rien n'est a vendre</p>
                            <p>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                    </div>
                </div>
            </div>
            <dialog id="confirm-buy" class="modal">
                <div class="modal-content">
                    <h2>Devis</h2>
                    <div id="confirm-div" style="display: block;">
                        <p id="buying"></p>
                        <button id="oui-buy">Oui</button>
                        <button id="non-buy">Non</button>
                    </div>
                    <div id="input-div" style="display: none;">
                        <p>Pour quel prix ?</p>
                        <form id="price-form" action="">
                            <input type="number" id="input-price" autocomplete="off"
                                placeholder="Prix de vente..." /><button class="button">Send</button>
                        </form>
                    </div>
                </div>
            </dialog>
        </dialog>
    </div>

    <dialog class="modal" id="chat-modal">
        <div class="modal-content">
            <div class="top-modal">
                <h2 class="title-modal">Ça dit quoi sa mere ?</h2>
                <span class="close-button" id="close-chat">&times;</span>
            </div>
            <form id="chatForm" action="">
                <input id="input-chat" autocomplete="off" placeholder="Message..." /><button
                    class="button">Send</button>
            </form>
            <div id="messages"></div>

        </div>
    </dialog>

    <dialog class="modal" id="results-modal">
        <div class="modal-content">
            <div class="top-modal">
                <h2 class="title-modal">Résultats</h2>
                <span class="close-button" id="close-results">&times;</span>
            </div>
        </div>
    </dialog>

    <i class="fa-sofa-sign-outlid fa-volume-xmark"></i>
    <div id="parameters">
        <i class="param-content fa-solid fa-bell" style="display:none;"></i>
        <i class="param-content fa-solid fa-bell-slash" style="display:none;"></i>
        <i class="param-content fa-solid fa-volume-high" style="display:none;"></i>
        <i class="param-content fa-solid fa-volume-off" style="display:none;"></i>
        <i class="param-content fa-solid fa-right-from-bracket" style="display:none;"></i>
        <i class="param-content fa-solid fa-cloud" style="display:none;"></i>
        <i class="param-content fa-solid fa-sun" style="display:none;"></i>
        <i class="fa-solid fa-gears"></i>
    </div>
    <dialog id="confirm-disconnect" class="modal">
        <div class="modal-content">
            <p>Voulez vous vraiment vous deconnecter ?</p>

            <button id="oui-disconnect" class="button">Oui</button>
            <button id="non-disconnect" class="button">Non</button>
        </div>
    </dialog>

    <!-- ------------------------------- Script -------------------------------- -->
    <script src="JS/game.js" type="module"></script>
    <script src="JS/http.js"></script>
</body>

</html>