<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>

    <!-- JS modules -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="JS/http.js" type="text/javascript"></script>
</head>
<body>
    <h1><%= username %></h1>

    <ul id="player_list"></ul>

    <input type="hidden" value="<%= username %>" id="username" />
    
    <script src="JS/WebSocket.js" type="text/javascript"></script>
    <script src="JS/game.js" type="text/javascript"></script>
</body>
</html>