<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png" />

    <script src="https://kit.fontawesome.com/f588d3df13.js" crossorigin="anonymous"></script>

    <!-- JS modules -->
    <script src="/socket.io/socket.io.js"></script>

    <title>Don't Collapse | Game</title>

    <link rel="stylesheet" href="/CSS/hud.css">

    <!-- JS modules -->

    <style media="screen" type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

        html,
        body {
            background-color: #fff;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }

        * {
            padding: 0;
            margin: 0
        }

        #myThreeJsCanvas {
            width: 90%;
            height: 90%
        }

        #myMenuShop {
            background-color: rgba(0, 0, 0, 0.349);
            position: absolute;
            bottom: 0;
            margin-bottom: 30px;
            border-radius: 20px;
            padding: 20px;
            margin-left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            height: 150px;
            width: auto;
            display: flex;
            flex-direction: column;
            display: none;
            transition: all 2s ease;
        }

        #myMenuShop #title_menuShop {
            color: white;
            font-family: "Koulen";
            text-align: center;
            letter-spacing: 2px;
            font-size: 30px;
            padding: 0;
            margin: 0
        }

        #myMenuShop div #icon1 {
            height: 70px;
            width: 70px;
            background-color: rgba(255, 255, 255, 0.603);
            margin-left: 50%;
            transform: translateX(-50%);
            border-radius: 20px;
            text-align: center;
            font-size: 50px;
            color: white
        }

        #icon1 ion-icon {
            margin-top: 10px;
            font-weight: bold;
        }

        #icon1:hover {
            cursor: pointer;
        }


        #myMenuSortie {
            background-color: rgba(0, 0, 0, 0.349);
            position: absolute;
            bottom: 0;
            margin-bottom: 30px;
            border-radius: 20px;
            padding: 20px;
            margin-left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            height: 150px;
            width: auto;
            display: flex;
            flex-direction: column;
            display: none;
            transition: all 2s ease;
        }

        #myMenuSortie #title_menuSortie {
            color: white;
            font-family: "Koulen";
            text-align: center;
            letter-spacing: 2px;
            font-size: 30px;
            padding: 0;
            margin: 0
        }

        #myMenuSortie #SortiWrap {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        #Sicon1,
        #Sicon2,
        #Sicon3 {
            height: 70px;
            width: 70px;
            background-color: rgba(255, 255, 255, 0.603);
            border-radius: 20px;
            text-align: center;
            font-size: 50px;
            color: white
        }

        #Sicon1 ion-icon,
        #Sicon2 ion-icon,
        #Sicon3 ion-icon {
            margin-top: 10px;
            font-weight: bold;
        }

        #icon1:hover #icon3:hover #icon2:hover {
            cursor: pointer;
        }
    </style>

</head>

<body>

    <input type="hidden" value="<%= username %>" id="username" />

    <div id="room">
        <h1>Welcome <%= username %>
        </h1>
        <div id="player_list"></div>
        <button type="submit" id="BtnGame" style="display: none;">Start Game !</button>
        <button id="chat-button">Open Chat</button>
    </div>


    <div style="position:absolute;margin-top:50px;font-weight:bold;">
        <p style="color:red">X axis</p>
        <p style="color:green">Y axis</p>
        <p style="color:blue">Z axis</p>
    </div>

    <canvas id="myThreeJsCanvas"></canvas>

    <div id="myMenuShop">
        <h1 id="title_menuShop">Titre</h1>
        <div>
            <div id="icon1">
                <ion-icon name="pricetag-outline"></ion-icon>
            </div>

        </div>
    </div>
    <div id="myMenuSortie">
        <h1 id="title_menuSortie">Titre</h1>
        <div id="SortiWrap">
            <div id="Sicon1">
                <ion-icon name="person-outline"></ion-icon>
            </div>
            <div id="Sicon2">
                <ion-icon name="person-outline"></ion-icon>
            </div>
            <div id="Sicon3">
                <ion-icon name="person-outline"></ion-icon>
            </div>

        </div>
    </div>


    <div style="display: none;" id="game">
        <h1>Let's play <%= username %>
        </h1>


        <!-- Progress Bar -->
        <div id="top">
            <div class="containers">
                <div class="progress-container">Social</div>
                <div class="progress-container">Economic</div>
                <div class="progress-container">Ecologic</div>
            </div>

            <div>
                <p><span id="minutes"></span>:<span id="seconds"></span></p>
            </div>
            <div id="money-container">
                <p><span id="money-amount">50000</span>€</p>
            </div>

        </div>



        <!-- Modal Shop -->
        <button class="button" id="shop-button">Shop</button>
        <dialog class="modal" id="shop-modal">
            <div class="modal-content">
                <div class="top-modal">
                    <h2 class="title-modal">Bienvenue dans le shop !</h2>
                    <span class="close-button" id="close-shop">&times;</span>
                </div>
                <div id="shop">
                    <div id="main-title" class="rubric">
                        <div class="top1 clickable selected">Ressources</div>
                        <div class="top2 clickable">Personnel</div>
                        <div class="top3 clickable">Neuf</div>
                        <div class="top4 clickable">Occasion</div>
                    </div>

                    <div id="supplier" class="rubric">
                        <div class="elec clickable selected" style="display:block;">Électricité</div>
                        <div class="eau clickable" style="display:block;">Eau</div>
                        <div class="carton clickable" style="display:block;">Cartons</div>
                        <div class="etain clickable" style="display:block;">Étain - Quincaillerie</div>

                        <div class="inge clickable" style="display: none;">Ingénieur</div>
                        <div class="super clickable" style="display: none;">Superviseur</div>
                        <div class="maint clickable" style="display: none;">Maintenance</div>
                        <div class="menage clickable" style="display: none;">Ménage</div>

                        <div class="manix clickable" style="display: none;">Manix 2</div>
                        <div class="droit clickable" style="display: none;">Droit Ô But</div>
                        <div class="braz clickable" style="display: none;">Braz'Air'Eau</div>
                        <div class="tesla clickable" style="display: none;">Teslassemblage</div>

                        <div class="occaz clickable" style="display: none;">Mes occasions</div>
                    </div>


                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Gauche                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="left-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->
                        <div disable class="elec 1 clickable" style="display:block;">
                            <p>Coup de Foudre</p>
                            <p style="display: none;">Rapide description de coup de foudre</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec 2 clickable" style="display:block;">
                            <p>Électricité d'Euler</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div disable class="eau 1 clickable" style="display: none;">
                            <p>Hâche 2 Eaux</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau 2 clickable" style="display: none;">
                            <p>Électricité d'Euler</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div disable class="cartons 1 clickable" style="display: none;">
                            <p>Jean Balle</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons 2 clickable" style="display: none;">
                            <p>Toutânkharton</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div disable class="etain 1 clickable" style="display: none;">
                            <p>Casto là bas</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain 2 clickable" style="display: none;">
                            <p>Quincaillepleure</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->

                        <div class="inge 1 clickable" style="display: none;">
                            <p>Ingénieur 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="inge 2 clickable" style="display: none;">
                            <p>Ingénieur 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="super 1 clickable" style="display: none;">
                            <p>Superviseur 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="super 2 clickable" style="display: none;">
                            <p>Superviseur 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="maint 1 clickable" style="display: none;">
                            <p>Maintenance 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="maint 2 clickable" style="display: none;">
                            <p>Maintenance 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="menage 1 clickable" style="display: none;">
                            <p>Ménage 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="menage 2 clickable" style="display: none;">
                            <p>Ménage 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->
                        <div disable class="manix 0 clickable" style="display: none;">
                            <p>Poste à souder</p>
                            <p>Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div disable class="manix 1 clickable" style="display: none;">
                            <p>Assembleur de précision</p>
                            <p>Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit 0 clickable" style="display: none;">
                            <p>Poste à souder </p>
                            <p>Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit 1 clickable" style="display: none;">
                            <p>Assembleur de précision </p>
                            <p> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz 0 clickable" style="display: none;">
                            <p>Poste à souder</p>
                            <p>Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz 1 clickable" style="display: none;">
                            <p>Assembleur de précision</p>
                            <p>Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla 0 clickable" style="display: none;">
                            <p>Poste à souder</p>
                            <p>Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla 1 clickable" style="display: none;">
                            <p>Assembleur de précision </p>
                            <p>Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div disable class="own clickable" style="display: none;">
                            <p> Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Supprimer</button>
                        </div>
                        <div disable class="j1 clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                    </div>

                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Droite                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="right-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->

                        <div class="elec 3 clickable" style="display:block;">
                            <p>Petit Tonnerre</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec 4 clickable" style="display:block;">
                            <p>Durexcel</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="eau 3 clickable" style="display: none;">
                            <p>Rheaum</p>
                            <p style="display: none;">Rapide description</p>
                            <button class=" buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau 4 clickable" style="display: none;">
                            <p>Cri'Staline</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="cartons 3 clickable" style="display: none;">
                            <p>Mine Carton</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons 4 clickable" style="display: none;">
                            <p>Scotch Willski</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="etain 3 clickable" style="display: none;">
                            <p>P'étain clou</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain 4 clickable" style="display: none;">
                            <p>Le Roi Merlin</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->

                        <div class="inge 3 clickable" style="display: none;">
                            <p>Ingénieur 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="inge 4 clickable" style="display: none;">
                            <p>Ingénieur 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="super 3 clickable" style="display: none;">
                            <p>Superviseur 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="super 4 clickable" style="display: none;">
                            <p>Superviseur 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="maint 3 clickable" style="display: none;">
                            <p>Maintenance 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="maint 4 clickable" style="display: none;">
                            <p>Maintenance 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="menage 3 clickable" style="display: none;">
                            <p>Ménage 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="menage 4 clickable" style="display: none;">
                            <p>Ménage 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->

                        <div disable class="manix 2 clickable" style="display: none;">
                            <p>Assembleur mécanique</p>
                            <p> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div disable class="manix 3 clickable" style="display: none;">
                            <p>Assembleur général</p>
                            <p> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit 2 clickable" style="display: none;">
                            <p>Assembleur mécanique </p>
                            <p>Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit 3 clickable" style="display: none;">
                            <p>Assembleur général </p>
                            <p>Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz 2 clickable" style="display: none;">
                            <p>Assembleur mécanique </p>
                            <p>Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz 3 clickable" style="display: none;">
                            <p>Assembleur général </p>
                            <p>Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla 2 clickable" style="display: none;">
                            <p>Assembleur mécanique </p>
                            <p>Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla 3 clickable" style="display: none;">
                            <p>Assembleur général </p>
                            <p>Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div disable class="j2 clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div disable class="j3 void clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                    </div>
                </div>
            </div>
            <dialog id="confirm-buy">
                <h2>Devis</h2>
                <p id="buying"></p>
                <button class="oui-button">Oui</button>
                <button class="non-button">Non</button>
            </dialog>
        </dialog>

        <button class="button" id="player-button">See others players</button>
        <dialog class="modal" id="player-modal">
            <div class="modal-content">
                <div class="top-modal">
                    <h2 class="title-modal">Qu'est ce que font les autres ?</h2>
                    <span class="close-button" id="close-player">&times;</span>
                </div>
                <ul id="display-player"></ul>
            </div>
        </dialog>
    </div>


    <dialog class="modal" id="chat-modal">
        <div class="modal-content">
            <div class="top-modal">
                <h2 class="title-modal">Ça dit quoi sa mère ?</h2>
                <span class="close-button" id="close-chat">&times;</span>
            </div>
            <form id="chatForm" action="">
                <input id="input-chat" autocomplete="off" placeholder="Message..." /><button
                    class="button">Send</button>
            </form>
            <div id="messages"></div>

        </div>
    </dialog>

    <i class="fa-sofa-sign-outlid fa-volume-xmark"></i>
    <div id="parameters">
        <i class="param-content fa-solid fa-bell" style="display:none;"></i>
        <i class="param-content fa-solid fa-bell-slash" style="display:none;"></i>
        <i class="param-content fa-solid fa-volume-high" style="display:none;"></i>
        <i class="param-content fa-solid fa-volume-off" style="display:none;"></i>
        <i class="param-content fa-solid fa-right-from-bracket" style="display:none;"></i>
        <i class="param-content fa-solid fa-cloud" style="display:none;"></i>
        <i class="param-content fa-solid fa-sun" style="display:none;"></i>
        <i class="fa-solid fa-gears"></i>
        <dialog id="confirm-disconnect">
            <p>Voulez vous vraiment vous déconnecter ?</p>

            <button class="oui-button button">Oui</button>
            <button class="non-button button">Non</button>

        </dialog>
    </div>


    <!-- Debug -->
    <script type="text/javascript" src="JS/game/stats.min.js"></script>

    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.137.0/build/three.module.js"
            }
        }
    </script>

    <!-- ThreeJS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="module" src="./JS/game/app.js"></script>
    <script src="JS/game.js" type="module"></script>

</body>

</html>