<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>

    <!-- JS modules -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="JS/http.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/CSS/style.css">

</head>

<body>

    <input type="hidden" value="<%= username %>" id="username" />

    <div id="room">
        <h1> Welcome <%= username %></h1>
        <ul id="player_list" class="room"></ul>
        <button type="submit" id="BtnGame" style="display: none;" class="room">Start Game !</button>
    </div>

    <div style="display: none;" id="game">
        <h1> Let's play <%= username %></h1>


        <!-- Progress Bar -->
        <div id="top">
            <div class="containers">
                <div class="progress-container">Social</div>
                <div class="progress-container">Economic</div>
                <div class="progress-container">Ecologic</div>
            </div>

            <!-- Modal Shop -->
            <button id="shop-button">Shop</button>
        </div>



        <dialog class="modal" id="shop-modal">
            <div class="modal-content">
                <span class="close-button" id="close-shop">&times;</span>
                <h2 id="title-modal">Bienvenue dans le shop !</h2>

                <div id="shop">
                    <div id="main-title" class="rubric">
                        <div class="top1 clickable selected">Ressources</div>
                        <div class="top2 clickable">Personnel</div>
                        <div class="top3 clickable">Neuf</div>
                        <div class="top4 clickable">Occasion</div>
                    </div>

                    <div id="supplier" class="rubric">
                        <div class="elec clickable selected" style="display:block;">Électricité</div>
                        <div class="eau clickable" style="display:block;">Eau</div>
                        <div class="carton clickable" style="display:block;">Cartons</div>
                        <div class="etain clickable" style="display:block;">Étain - Quincaillerie</div>

                        <div class="inge clickable" style="display: none;">Ingénieur</div>
                        <div class="super clickable" style="display: none;">Superviseur</div>
                        <div class="maint clickable" style="display: none;">Maintenance</div>
                        <div class="menage clickable" style="display: none;">Ménage</div>

                        <div class="manix clickable" style="display: none;">Manix 2</div>
                        <div class="droit clickable" style="display: none;">Droit Ô But</div>
                        <div class="braz clickable" style="display: none;">Braz'Air'Eau</div>
                        <div class="tesla clickable" style="display: none;">Teslassemblage</div>

                        <div class="occaz clickable" style="display: none;">Mes occasions</div>
                    </div>


                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Gauche                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="left-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->
                        <div class="elec clickable" style="display:block;">
                            <p>Coup de Foudre</p>
                            <p style="display: none;">Rapide description de coup de foudre</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec clickable" style="display:block;">
                            <p>Électricité d'Euler</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="eau clickable" style="display: none;">
                            <p>Hâche 2 Eaux</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau clickable" style="display: none;">
                            <p>Électricité d'Euler</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="cartons clickable" style="display: none;">
                            <p>Jean Balle</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons clickable" style="display: none;">
                            <p>Toutânkharton</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="etain clickable" style="display: none;">
                            <p>Casto là bas</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain clickable" style="display: none;">
                            <p>Quincaillepleure</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->

                        <div class="inge clickable" style="display: none;">
                            <p>Ingénieur 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="inge clickable" style="display: none;">
                            <p>Ingénieur 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="super clickable" style="display: none;">
                            <p>Superviseur 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="super clickable" style="display: none;">
                            <p>Superviseur 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="menage clickable" style="display: none;">
                            <p>Ménage 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="menage clickable" style="display: none;">
                            <p>Ménage 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->
                        <div class="manix clickable" style="display: none;">
                            <p>Poste à souder <br> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="manix clickable" style="display: none;">
                            <p>Assembleur mécanique <br> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit clickable" style="display: none;">
                            <p>Poste à souder <br> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit clickable" style="display: none;">
                            <p>Assembleur mécanique <br> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz clickable" style="display: none;">
                            <p>Poste à souder <br> Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz clickable" style="display: none;">
                            <p>Assembleur mécanique <br> Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla clickable" style="display: none;">
                            <p>Poste à souder <br> Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla clickable" style="display: none;">
                            <p>Assembleur mécanique <br> Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div class="own clickable" style="display: none;">
                            <p> Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                            </p>
                        </div>
                        <div class="j1 clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>


                    </div>

                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Droite                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="right-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->

                        <div class="elec clickable" style="display:block;">
                            <p>Petit Tonnerre</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec clickable" style="display:block;">
                            <p>Durexcel</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="eau clickable" style="display: none;">
                            <p>Rheaum</p>
                            <p style="display: none;">Rapide description</p>
                            <button class=" buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau clickable" style="display: none;">
                            <p>Cri'Staline</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="cartons clickable" style="display: none;">
                            <p>Mine Carton</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons clickable" style="display: none;">
                            <p>Scotch Willski</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="etain clickable" style="display: none;">
                            <p>P'étain clou</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain clickable" style="display: none;">
                            <p>Le Roi Merlin</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->

                        <div class="inge clickable" style="display: none;">
                            <p>Ingénieur 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="inge clickable" style="display: none;">
                            <p>Ingénieur 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="super clickable" style="display: none;">
                            <p>Superviseur 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="super clickable" style="display: none;">
                            <p>Superviseur 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="menage clickable" style="display: none;">
                            <p>Ménage 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="menage clickable" style="display: none;">
                            <p>Ménage 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->

                        <div class="manix clickable" style="display: none;">
                            <p>Assembleur de précision <br> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="manix clickable" style="display: none;">
                            <p>Assembleur général <br> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit clickable" style="display: none;">
                            <p>Assembleur de précision <br> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit clickable" style="display: none;">
                            <p>Assembleur général <br> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz clickable" style="display: none;">
                            <p>Assembleur de précision <br> Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz clickable" style="display: none;">
                            <p>Assembleur général <br> Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla clickable" style="display: none;">
                            <p>Assembleur de précision <br> Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla clickable" style="display: none;">
                            <p>Assembleur général <br> Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div class="j2 clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="j3 clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                    </div>
                </div>
            </div>
            <dialog id="confirm-modal">
                <p>Voulez vous acheter un <span id="buying"></span></p>
                <button id="oui-button">Oui</button>
                <button id="non-button">Non</button>
            </dialog>
        </dialog>

    </div>

    <button id="chat-button">Open Chat</button>
    <dialog class="modal" id="chat-modal">
        <div class="modal-content">
            <span class="close-button" id="close-chat">&times;</span>
            <h2 id="title-modal">Alors qu'est ce que ca dit ?</h2>

            <div id="messages"></div>
            <form id="chatForm" action="">
                <input id="input-chat" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </dialog>




    <script src="JS/game/hud/hud.js" type="module"></script>

    <script src="JS/WebSocket.js" type="text/javascript"></script>
    <script src="JS/game.js" type="text/javascript"></script>
</body>

</html>