<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Collapse | Game</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png" />

    <script src="https://kit.fontawesome.com/f588d3df13.js" crossorigin="anonymous"></script>

    <!-- JS modules -->
    <script src="/socket.io/socket.io.js"></script>


    <link rel="stylesheet" href="/CSS/hud.css">

</head>

<body>

    <input type="hidden" value="<%= username %>" id="username" />

    <div id="room">
        <h1>Welcome <%= username %>
        </h1>
        <div id="player_list"></div>
        <button type="submit" id="BtnGame" style="display: none;">Start Game !</button>
        <button id="chat-button">Open Chat</button>
    </div>

    <div style="display: none;" id="game">
        <h1>Let's play <%= username %>
        </h1>


        <!-- Progress Bar -->
        <div id="top">
            <div class="containers">
                <div class="progress-container">Social</div>
                <div class="progress-container">Economic</div>
                <div class="progress-container">Ecologic</div>
            </div>

            <div>
                <p><span id="minutes"></span>:<span id="seconds"></span></p>
            </div>
            <div id="money-container">
                <p><span id="money-amount">50000</span>€</p>
            </div>

        </div>



        <!-- Modal Shop -->
        <button class="button" id="shop-button">Shop</button>
        <dialog class="modal" id="shop-modal">
            <div class="modal-content">
                <div class="top-modal">
                    <h2 class="title-modal">Bienvenue dans le shop !</h2>
                    <span class="close-button" id="close-shop">&times;</span>
                </div>
                <div id="shop">
                    <div id="main-title" class="rubric">
                        <div class="top1 clickable selected">Ressources</div>
                        <div class="top2 clickable">Personnel</div>
                        <div class="top3 clickable">Neuf</div>
                        <div class="top4 clickable">Occasion</div>
                    </div>

                    <div id="supplier" class="rubric">
                        <div class="elec clickable selected" style="display:block;">Électricité</div>
                        <div class="eau clickable" style="display:block;">Eau</div>
                        <div class="carton clickable" style="display:block;">Cartons</div>
                        <div class="etain clickable" style="display:block;">Étain - Quincaillerie</div>

                        <div class="inge clickable" style="display: none;">Ingénieur</div>
                        <div class="super clickable" style="display: none;">Superviseur</div>
                        <div class="maint clickable" style="display: none;">Maintenance</div>
                        <div class="menage clickable" style="display: none;">Ménage</div>

                        <div class="manix clickable" style="display: none;">Manix 2</div>
                        <div class="droit clickable" style="display: none;">Droit Ô But</div>
                        <div class="braz clickable" style="display: none;">Braz'Air'Eau</div>
                        <div class="tesla clickable" style="display: none;">Teslassemblage</div>

                        <div class="occaz clickable" style="display: none;">Mes occasions</div>
                    </div>


                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Gauche                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="left-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->
                        <div class="elec clickable" style="display:block;">
                            <p>Coup de Foudre</p>
                            <p style="display: none;">Rapide description de coup de foudre</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec clickable" style="display:block;">
                            <p>Électricité d'Euler</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="eau clickable" style="display: none;">
                            <p>Hâche 2 Eaux</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau clickable" style="display: none;">
                            <p>Électricité d'Euler</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="cartons clickable" style="display: none;">
                            <p>Jean Balle</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons clickable" style="display: none;">
                            <p>Toutânkharton</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="etain clickable" style="display: none;">
                            <p>Casto là bas</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain clickable" style="display: none;">
                            <p>Quincaillepleure</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->

                        <div class="inge clickable" style="display: none;">
                            <p>Ingénieur 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="inge clickable" style="display: none;">
                            <p>Ingénieur 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="super clickable" style="display: none;">
                            <p>Superviseur 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="super clickable" style="display: none;">
                            <p>Superviseur 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="menage clickable" style="display: none;">
                            <p>Ménage 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="menage clickable" style="display: none;">
                            <p>Ménage 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->
                        <div class="manix clickable" style="display: none;">
                            <p>Poste à souder <br> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="manix clickable" style="display: none;">
                            <p>Assembleur mécanique <br> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit clickable" style="display: none;">
                            <p>Poste à souder <br> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit clickable" style="display: none;">
                            <p>Assembleur mécanique <br> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz clickable" style="display: none;">
                            <p>Poste à souder <br> Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz clickable" style="display: none;">
                            <p>Assembleur mécanique <br> Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla clickable" style="display: none;">
                            <p>Poste à souder <br> Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla clickable" style="display: none;">
                            <p>Assembleur mécanique <br> Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div buyable class="own clickable" style="display: none;">
                            <p> Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Supprimer</button>
                        </div>
                        <div buyable class="j1 clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                    </div>

                    <!-- ----------------------------------------------------------------------- -->
                    <!--                               Page Droite                               -->
                    <!-- ----------------------------------------------------------------------- -->
                    <div id="right-page" class="rubric">
                        <!-- ----------------------------- Ressources ------------------------------ -->

                        <div class="elec clickable" style="display:block;">
                            <p>Petit Tonnerre</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="elec clickable" style="display:block;">
                            <p>Durexcel</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="eau clickable" style="display: none;">
                            <p>Rheaum</p>
                            <p style="display: none;">Rapide description</p>
                            <button class=" buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="eau clickable" style="display: none;">
                            <p>Cri'Staline</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="cartons clickable" style="display: none;">
                            <p>Mine Carton</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="cartons clickable" style="display: none;">
                            <p>Scotch Willski</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="etain clickable" style="display: none;">
                            <p>P'étain clou</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="etain clickable" style="display: none;">
                            <p>Le Roi Merlin</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Personnel ------------------------------ -->

                        <div class="inge clickable" style="display: none;">
                            <p>Ingénieur 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="inge clickable" style="display: none;">
                            <p>Ingénieur 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="super clickable" style="display: none;">
                            <p>Superviseur 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="super clickable" style="display: none;">
                            <p>Superviseur 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="maint clickable" style="display: none;">
                            <p>Maintenance 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="menage clickable" style="display: none;">
                            <p>Ménage 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="menage clickable" style="display: none;">
                            <p>Ménage 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- -------------------------------- Neuf --------------------------------- -->

                        <div class="manix clickable" style="display: none;">
                            <p>Assembleur de précision <br> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="manix clickable" style="display: none;">
                            <p>Assembleur général <br> Niveau 1</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="droit clickable" style="display: none;">
                            <p>Assembleur de précision <br> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="droit clickable" style="display: none;">
                            <p>Assembleur général <br> Niveau 2</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="braz clickable" style="display: none;">
                            <p>Assembleur de précision <br> Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="braz clickable" style="display: none;">
                            <p>Assembleur général <br> Niveau 3</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <div class="tesla clickable" style="display: none;">
                            <p>Assembleur de précision <br> Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div class="tesla clickable" style="display: none;">
                            <p>Assembleur général <br> Niveau 4</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                        <!-- ------------------------------ Occasions ------------------------------ -->

                        <div buyable class="j2 clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>
                        <div buyable class="j3 void clickable" style="display: none;">
                            <p>Rien n'est à vendre<br>pour le moment</p>
                            <p style="display: none;">Rapide description</p>
                            <button class="buy-button" style="display: none;">Acheter</button>
                        </div>

                    </div>
                </div>
            </div>
            <dialog id="confirm-buy">
                <h2>Devis</h2>
                <p id="buying"></p>
                <button class="oui-button">Oui</button>
                <button class="non-button">Non</button>
            </dialog>
        </dialog>

        <button class="button" id="player-button">See others players</button>
        <dialog class="modal" id="player-modal">
            <div class="modal-content">
                <div class="top-modal">
                    <h2 class="title-modal">Qu'est ce que font les autres ?</h2>
                    <span class="close-button" id="close-player">&times;</span>
                </div>
                <ul id="display-player"></ul>
            </div>
        </dialog>
    </div>


    <dialog class="modal" id="chat-modal">
        <div class="modal-content">
            <div class="top-modal">
                <h2 class="title-modal">Ça dit quoi sa mère ?</h2>
                <span class="close-button" id="close-chat">&times;</span>
            </div>
            <form id="chatForm" action="">
                <input id="input-chat" autocomplete="off" placeholder="Message..." /><button
                    class="button">Send</button>
            </form>
            <div id="messages"></div>

        </div>
    </dialog>

    <i class="fa-sofa-sign-outlid fa-volume-xmark"></i>
    <div id="parameters">
        <i class="param-content fa-solid fa-bell" style="display:none;"></i>
        <i class="param-content fa-solid fa-bell-slash" style="display:none;"></i>
        <i class="param-content fa-solid fa-volume-high" style="display:none;"></i>
        <i class="param-content fa-solid fa-volume-off" style="display:none;"></i>
        <i class="param-content fa-solid fa-right-from-bracket" style="display:none;"></i>
        <i class="param-content fa-solid fa-cloud" style="display:none;"></i>
        <i class="param-content fa-solid fa-sun" style="display:none;"></i>
        <i class="fa-solid fa-gears"></i>
        <dialog id="confirm-disconnect">
            <p>Voulez vous vraiment vous déconnecter ?</p>

            <button class="oui-button button">Oui</button>
            <button class="non-button button">Non</button>

        </dialog>
    </div>

    <!-- ------------------------------- Script -------------------------------- -->
    <script src="JS/game.js" type="module"></script>
</body>

</html>