<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <title>Don't Collapse</title>
    <style media="screen" type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

        body {
            background-color: #fff;
            margin: 0;
            padding: 0
        }

        #myThreeJsCanvas {
            width: 100%;
            height: 100%
        }

        #myMenuShop {
            background-color: rgba(0, 0, 0, 0.349);
            position: absolute;
            bottom: 0;
            margin-bottom: 30px;
            border-radius: 20px;
            padding:20px;
            margin-left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            height: 150px;
            width: 400px;
            display: flex;
            flex-direction: column;
            display: none;
        }

        #myMenuShop #title_menuShop {
            color: white;
            font-family: "Koulen";
            text-align: center;
            letter-spacing: 2px;
            font-size: 30px;
            padding: 0;
            margin:0
        }

        #myMenuShop div #icon1 {
            height: 70px;
            width: 70px;
            background-color: rgba(255, 255, 255, 0.603);
            margin-left: 50%;
            transform: translateX(-50%);
            border-radius: 20px;

        }
    </style>
</head>

<body>
    <div style="position:absolute;margin-top:50px;font-weight:bold;">
        <p style="color:red">X axis</p>
        <p style="color:green">Y axis</p>
        <p style="color:blue">Z axis</p>
    </div>

    <canvas id="myThreeJsCanvas"></canvas>

    <div id="myMenuShop">
        <h1 id="title_menuShop">Titre</h1>
        <div>
            <div id="icon1"></div>

        </div>
    </div>
    <!-- Debug -->
    <script type="text/javascript" src="JS/game/stats.min.js"></script>

    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.137.0/build/three.module.js"
            }
        }
    </script>

    <!-- ThreeJS -->
    <script type="module" src="./JS/game/app.js"></script>
</body>

</html>