<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Don't Collapse</title>
    <meta name="description" content="Don't Collapse game by Zephyr Studio"/>
    <meta name="author" content="Zephyr Studio" />
    <link rel="stylesheet" href="CSS/style.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <header>
        <!-- Header and nav -->
        <section class="logo">
            <a href="/" title="Home page">
                <img src="img/ZephyrStudio_logo.png" alt="Logo" />
            </a>
        </section>

        <nav>
            <table>
                <tr>
                    <td>
                        <a href="/rules" title="Rules page" class="nav_link">Rules</a>
                    </td>
                    <td>
                        <a href="/lobby" title="Click to play" class="btn">Play</a>
                    </td>
                </tr>
            </table>
        </nav>
    </header>

    <main class="home-main" id="home_main">
        <!-- Text displayed in the home page -->
        <section class="home-content">
            <h1>Be the wolf of <br>your enemy shepherd</h1>
            <h2>Who will collect the most wool</h2>

            <section class="btn_xl">
                <a href="/lobby" title="Click to connect">Play</a>
            </section>
        </section>

        <!-- The 3D sheep -->
        <section class="background" id="sheep_display"></section>
    </main>

    <footer>
        <p>Declemy Maxime &#x2759 Delebecque Martin &#x2759 Marquant Enguerrand &#x2759 Mullier Tom &#x2759 Van Boxem
            Rémi</p>
    </footer>