<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Don't Collapse | Rules</title>
    <meta name="description" content="Don't Collapse rules"/>
    <meta name="author" content="Zephyr Studio" />
    <link rel="stylesheet" href="CSS/style.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet"/>

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <header>
        <!-- Header and nav -->
        <section class="logo">
            <table>
                <tr>
                    <td>
                        <a href="/" title="Home page">
                            <img src="img/ZephyrStudio_logo.png" alt="Logo" />
                        </a>
                    </td>
                    <td>
                        <h1>Zephyr Studio</h1>
                    </td>
                </tr>
            </table>
        </section>

        <nav>
            <table>
                <tr>
                    <td>
                        <a href="/rules" title="Rules page" class="nav_link">Rules</a>
                    </td>
                    <td>
                        <a href="/lobby" title="Click to play" class="btn">Play</a>
                    </td>
                </tr>
            </table>
        </nav>
    </header>

    <main class="rules-main" id="home_main">
        <!-- Text displayed in the home page -->
        <section class="rules-content">
            <h1>Rules :</h1>
            <p>
                To win this game, you must sheer all of your enemy shepard sheeps. To achieve this mission, some weapons
                are
                available :
            </p>
            <ul>
                <li><strong>Sheers :</strong> The basic weapon, sheer the target point;</li>
                <li><strong>Strimmer :</strong> <i>Only once during the game,</i> cut the 9 cases near to the target
                    point;
                </li>
                <li><strong>Baldness epidemic :</strong> <i>Only once during the game,</i> Sheer 5 cases near to the
                    target
                    point;
                </li>
                <li><strong>Wolf :</strong> <i>Only once during the game,</i> Sheer a whole flock if it contains only 2
                    sheeps or
                    less.</li>
            </ul>
        </section>
    </main>
    
    <footer>
        <p>CIRious Game 2022 - Zephyr Studio</p>
        <p>Declemy Maxime &#x2759 Delebecque Martin &#x2759 Marquant Enguerrand &#x2759 Mullier Tom &#x2759 Van Boxem
            Rémi</p>
    </footer>
</body>