@charset "UTF-8";
@font-face {
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/koulen/v25/AMOQz46as3KIBPeWgg.ttf) format('truetype');
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-right-params {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(80%);
  }
}
@keyframes slide-left-params {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
}
#myThreeJsCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
#myMenuShop {
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  height: 150px;
  width: auto;
  display: flex;
  flex-direction: column;
  display: none;
  transition: all 2s ease;
}
#myMenuShop #title_menuShop {
  color: white;
  font-family: "Koulen";
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
#myMenuShop div #icon1 {
  height: 70px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.603);
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  text-align: center;
  font-size: 50px;
  color: white;
}
#icon1 ion-icon {
  margin-top: 10px;
  font-weight: bold;
}
#icon1:hover {
  cursor: pointer;
}
#myMenuSortie {
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  display: none;
  transition: all 2s ease;
  max-width: 70vw;
}
#myMenuSortie #title_menuSortie {
  color: white;
  font-family: "Koulen";
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
#myMenuSortie #SortiWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Sicon1 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-size: 50px;
  color: white;
}
.Sicon1 p {
  text-align: center;
  width: 100%;
  font-size: 20px;
}
.Sicon1 ion-icon {
  width: 100%;
  text-align: center;
}
.Sicon1 ion-icon {
  margin-top: 10px;
  font-weight: bold;
}
.icon1:hover {
  cursor: pointer;
}
body {
  background: url("/img/wave-haikei.svg");
  background-size: cover;
  font-family: 'KoHo', sans-serif;
  color: #eee;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* width */
  /* Track */
  /* Handle */
}
body ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
body ::-webkit-scrollbar-thumb {
  background: #f5dba6;
  border-radius: 10px;
}
body h1 {
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 1px 2px 3px black;
  font-family: 'KoHo', sans-serif;
  letter-spacing: 0.15rem;
}
/* -------------------------------------------------------------------------- */
/*                                Progress Bar                                */
/* -------------------------------------------------------------------------- */
#game {
  position: relative;
  z-index: 15;
}
.margin_righttt {
  margin-left: 50px;
}
#top {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  z-index: 15;
  width: fit-content;
  margin-left: 10%;
  margin: 0 auto 0 auto;
}
#top .containers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: calc(50% - 0px);
  transform: translateX(-50%);
  text-align: center;
}
#top .containers p {
  text-shadow: 1px 2px 3px black;
  position: relative;
  top: 0;
  /* margin-top: 50%; */
  transform: translateY(20%);
  margin-left: 10px;
  font-weight: bolder;
  /* text-transform: uppercase; */
  font-size: 20px;
}
#top .containers .txtMoney {
  margin: 0;
  text-shadow: 1px 2px 3px black;
  top: 0;
  /* margin-top: 50%; */
  font-weight: bold;
  /* text-transform: uppercase; */
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  border: white 2px solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.356);
}
#top .containers .progress-container {
  border: solid #ff0000 2px;
  height: 30px;
  width: 400px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.356) 0%, #ff0000 55%, rgba(0, 0, 0, 0.356) 56%, rgba(0, 0, 0, 0.356) 100%);
  text-align: center;
  font-size: x-large;
  font-style: bolder;
  color: #eee;
  align-items: center;
}
#top .containers .progress-container .progress {
  height: 34px;
  width: 34px;
  border-radius: 100%;
  background-color: #ff0000;
  margin-left: calc(55% - 17px);
  z-index: 12;
  align-items: center;
  display: flex;
  margin-top: -2px;
}
#top .containers .progress-container .text {
  text-align: center;
}
#top .containers .containedBy {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.button {
  height: 40px;
  width: 50px;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid #f5dba6;
  color: #383331;
  background-color: #f5dba6;
}
.button:hover {
  background-color: transparent;
  color: #f5dba6;
  transition: background-color 0.3s;
}
/* -------------------------------------------------------------------------- */
/*                                    Modals                                  */
/* -------------------------------------------------------------------------- */
.modal {
  padding: 0;
}
.modal .modal-content {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal .modal-content .top-modal {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.modal .modal-content .top-modal .title-modal {
  color: #eee;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.modal .modal-content .top-modal .close-button {
  color: #f5dba6;
  float: right;
  font-size: 28px;
  font-weight: 1000;
}
.modal .modal-content .top-modal .close-button:hover {
  color: #3f3c3a;
  text-decoration: none;
  cursor: pointer;
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.modal#shop-modal[open] {
  animation: slide-up 100ms forwards, fade-in 250ms forwards;
}
.modal#chat-modal[open] {
  animation: slide-right 100ms forwards, fade-in 250ms forwards;
}
.modal::backdrop {
  animation: fade-in 250ms forwards;
}
.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 250ms forwards;
}
.modal[closing]::backdrop {
  animation: fade-out 250ms forwards;
}
.clickable {
  cursor: pointer;
}
.selected {
  background-color: #f5dba6;
  color: #383331;
}
.selected::before {
  content: "> ";
  white-space: pre;
}
.selected::after {
  content: " <";
  white-space: pre;
}
#results-modal {
  padding: 40px;
  width: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #383331;
  border: 2px solid #383331;
  color: #f5dba6;
  cursor: default;
  font-family: 'KoHo';
  font-weight: bold;
}
#results-modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#results-modal .modal-content .top-modal {
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
#results-modal .modal-content .top-modal h2 {
  font-family: "Koulen";
  font-size: 2rem;
}
#results-modal .modal-content p {
  text-align: center;
  font-family: "Koulen";
  font-size: 1.2rem;
  letter-spacing: 7px;
  margin-top: -10px;
}
#results-modal .modal-content #playerListDiv p {
  margin-top: 10px;
  color: white;
  font-family: 'KoHo';
  font-size: 1.2rem;
  letter-spacing: normal;
  cursor: pointer;
}
#results-modal .modal-content #playerListDiv p:hover::before {
  content: "> ";
  white-space: pre;
}
#results-modal .modal-content #playerListDiv p:hover::after {
  content: " <";
  white-space: pre;
}
#results-modal .modal-content i {
  color: white;
  margin-top: 20px;
  font-size: 2.6rem;
}
#results-modal .modal-content i:hover {
  color: #f5dba6;
  cursor: pointer;
}
#results-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.623);
}
#confirm-buy {
  padding: 40px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #383331;
  border: 2px solid #383331;
  color: #f5dba6;
  cursor: default;
  font-family: 'KoHo';
  font-weight: bold;
}
#confirm-buy::backdrop {
  background-color: rgba(0, 0, 0, 0.466);
}
#confirm-buy #input-div {
  width: 100%;
}
#confirm-buy #price-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
#confirm-buy #price-form input {
  height: 40px;
  border-bottom: 3px solid #f5dba6;
  color: #f5dba6;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
}
#confirm-buy #price-form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#confirm-buy #price-form button {
  width: 100%;
  padding: 10px 20px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid #f5dba6;
  color: #383331;
  background-color: #f5dba6;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 15px;
}
#confirm-buy #price-form button:hover {
  background-color: transparent;
  color: #f5dba6;
  transition: background-color 0.3s;
}
#confirm-buy .modal-content h2 {
  text-transform: uppercase;
  font-family: "Koulen";
  font-size: 2rem;
}
#confirm-buy p {
  font-size: 1.2rem;
}
#confirm-buy #confirm-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#confirm-buy #confirm-div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#confirm-buy #confirm-div div button {
  width: 45%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid #f5dba6;
  color: #383331;
  background-color: #f5dba6;
  font-size: 0.9rem;
  font-weight: bold;
}
#confirm-buy #confirm-div div button:hover {
  background-color: transparent;
  color: #f5dba6;
  transition: background-color 0.3s;
}
.item-description {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  height: 100%;
}
.item-description button {
  bottom: 0;
}
.item-title {
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#events-modal {
  padding: 40px;
  width: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #383331;
  border: 2px solid #383331;
  color: #f5dba6;
  cursor: default;
  font-family: 'KoHo';
  font-weight: bold;
}
#events-modal .param-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#events-modal .param-content h2 {
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Koulen";
  font-size: 2rem;
}
#events-modal .param-content #events-content p {
  color: white;
  font-size: 1.2rem;
}
#events-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.623);
}
#confirm-disconnect {
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  position: absolute;
  background-color: #383331;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bold;
}
#confirm-disconnect .modal-content {
  display: flex;
  flex-direction: column;
}
#confirm-disconnect .modal-content div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#confirm-disconnect .modal-content div button {
  width: 45%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid #f5dba6;
  color: #383331;
  background-color: #f5dba6;
  font-size: 0.9rem;
  font-weight: bold;
  outline: none;
}
#confirm-disconnect .modal-content div button:hover {
  background-color: transparent;
  color: #f5dba6;
  transition: background-color 0.3s;
}
#shop-modal {
  padding: 20px;
  width: 1200px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #383331;
  border: 2px solid #383331;
  color: #f5dba6;
  cursor: default;
}
#shop-modal .modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#shop-modal .modal-content .top-modal {
  font-size: 2rem;
  padding: 0%;
  margin-bottom: 2%;
  margin-top: 0%;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  height: fit-content;
}
#shop-modal .modal-content .top-modal h2,
#shop-modal .modal-content .top-modal p {
  text-shadow: 1px 1px 3px black;
  color: #f5dba6;
  font-family: "Koulen";
}
#shop-modal .modal-content #shop {
  height: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: 2fr 2fr 1fr;
  text-transform: uppercase;
}
#shop-modal .modal-content #shop .title_ressources {
  height: fit-content;
}
#shop-modal .modal-content #shop .rubric {
  border: solid 2px #f5dba6;
  font-family: "Koulen";
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
}
#shop-modal .modal-content #shop .clickable:hover:not(.selected) {
  color: #f5dba6;
  background-color: white;
  text-decoration: none;
}
#shop-modal .modal-content #shop .selected {
  background-color: #f5dba6;
  color: white;
}
#shop-modal .modal-content #shop #main-title {
  grid-column: 1/2;
  grid-row: 1/2;
  border-bottom: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
#shop-modal .modal-content #shop #main-title div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#shop-modal .modal-content #shop #supplier {
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
#shop-modal .modal-content #shop #supplier div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#shop-modal .modal-content #shop #left-page {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#shop-modal .modal-content #shop #right-page {
  grid-column: 2/3;
  grid-row: 2/3;
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#shop-modal .modal-content #shop #left-page,
#shop-modal .modal-content #shop #right-page {
  background-color: #f5dba6;
}
#shop-modal .modal-content #shop #left-page > div,
#shop-modal .modal-content #shop #right-page > div {
  margin: 1rem;
  border: solid 1px #f5dba6;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.603);
  color: #383331;
  font-size: 1rem;
}
#shop-modal .modal-content #shop #left-page > div p,
#shop-modal .modal-content #shop #right-page > div p {
  height: auto;
  font-weight: normal;
  font-size: 1rem;
}
#shop-modal .modal-content #shop .buy-button {
  height: auto;
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  color: #383331;
  border-top: 2px solid #f5dba6;
  border-bottom: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  font-family: "Koulen";
  font-weight: bold;
  font-size: 1rem;
  margin-top: auto;
  justify-content: center;
}
#shop-modal .modal-content #shop .buy-button:hover {
  background-color: white;
  color: #383331;
  outline: none;
}
/* -------------------------------------------------------------------------- */
/*                                    Chat                                    */
/* -------------------------------------------------------------------------- */
#chat-modal {
  height: calc(100vh - 60px);
  width: 35vw;
  max-width: 700px;
  margin-left: 0px;
  padding: 20px;
  font-weight: bold;
  background-color: #383331;
  color: #f5dba6;
  border: 3px solid #383331;
  overflow-y: auto;
}
#chat-modal #chatForm {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
#chat-modal #chatForm input {
  background-color: #383331;
  color: #eee;
  font-family: 'KoHo', sans-serif;
  font-size: medium;
  font-weight: bold;
  border: 2px solid #f5dba6;
  outline: none;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  height: 20px;
  width: 80%;
  padding: 10px;
  border-radius: 8px;
}
#chat-modal #chatForm button {
  border-radius: 8px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: #383331;
  font-family: 'KoHo', sans-serif;
  font-size: medium;
  font-weight: bold;
  outline: none;
  border: 2px solid #f5dba6;
  width: calc(20% - 20px);
  height: 100%;
  margin-left: 20px;
}
#chat-modal #chatForm button:hover {
  color: #f5dba6;
}
#chat-modal #messages {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  color: #eee;
  font-size: large;
}
#chat-modal #messages .sender {
  display: grid;
  justify-content: right;
}
#chat-modal #messages .receiver {
  display: grid;
  justify-content: left;
}
#chat-modal #messages .username {
  font-size: medium;
}
#chat-modal #messages .host {
  color: #fa4b4b;
}
#chat-modal #messages .J1 {
  color: #1ea802;
}
#chat-modal #messages .J2 {
  color: #e403d1;
}
#chat-modal #messages .J3 {
  color: #58a8eb;
}
#chat-modal #messages .server {
  color: #8d8d8d;
}
/* -------------------------------------------------------------------------- */
/*                                Waiting room                                */
/* -------------------------------------------------------------------------- */
#room {
  width: 50%;
  margin: auto;
}
#room #player_list {
  padding: 0;
  margin-top: 10%;
}
#room button {
  cursor: pointer;
  border: 3px solid #f5dba6;
  color: #383331;
  font-size: 2rem;
  font-family: 'KoHo';
  font-weight: bold;
  background-color: #f5dba6;
}
#room button:hover {
  background-color: transparent;
  color: #f5dba6;
  transition: background-color 0.3s;
}
#room #BtnGame {
  padding: 0 20px 0 20px;
  width: 50%;
  height: 70px;
  margin: auto;
  border-radius: 10px;
  font-size: 1.2em;
  margin-top: 5em;
}
#room #chat-button {
  width: 50%;
  height: 50px;
  padding: 0 40px 0 40px;
  display: block;
  margin: auto;
  border-radius: 8px;
  font-size: 1.2em;
  margin-top: 2em;
}
#room .removePlayerButton {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  font-size: 1em;
}
#room .card {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  border-left: 3px solid #f5dba6;
  margin-bottom: 2em;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;
  font-family: 'KoHo', sans-serif;
  display: flex;
  justify-content: space-between;
}
/* -------------------------------------------------------------------------- */
/*                                 Parameters                                 */
/* -------------------------------------------------------------------------- */
.cameraName {
  margin: 0;
  text-shadow: 1px 2px 3px black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 60px 10px 60px;
  border: white 2px solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.356);
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 2em;
  left: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  display: none;
  height: auto;
  z-index: 20;
}
#parameters {
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
}
#parameters:hover {
  cursor: pointer;
}
#parameters .param-content[open] {
  animation: slide-left-params 100ms forwards, fade-in 250ms forwards;
}
#parameters .param-content[open]:hover {
  color: #f5dba6;
  cursor: pointer;
}
#parameters .param-content[closing] {
  animation: slide-right-params 100ms forwards, fade-out 250ms forwards;
}
#parameters .fa-volume-high,
#parameters .fa-volume-off {
  grid-column: 4/5;
  grid-row: 1/2;
}
#parameters .fa-bell,
#parameters .fa-bell-slash {
  grid-column: 3/4;
  grid-row: 1/2;
}
#parameters .fa-right-from-bracket {
  grid-column: 1/2;
  grid-row: 1/2;
}
#parameters .fa-cloud,
#parameters .fa-sun {
  grid-column: 2/3;
  grid-row: 1/2;
}
#parameters .fa-gears {
  grid-column: 5/6;
  grid-row: 1/2;
}
#parameters i {
  font-size: 3em;
}
#main_board {
  background-color: rgba(0, 0, 0, 0.466);
  border: white 2px solid;
  border-radius: 10px;
  width: 356px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0 20px;
  margin-top: 90px;
}
#main_board:hover {
  cursor: pointer;
}
#main_board:hover .main_content {
  display: flex;
}
#main_board h1 {
  font-family: "Koulen";
  font-size: 1.5rem;
  color: #f5dba6;
}
#main_board .main_content {
  width: 100%;
  display: none;
  flex-direction: column;
}
#main_board .main_content div h2 {
  color: white;
  font-family: "Koulen";
  font-size: 1.5rem;
}
#main_board .main_content div p,
#main_board .main_content div table tr td {
  color: white;
  text-align: left;
}
#main_board .main_content div .txt_align_center {
  text-align: center;
  padding: 0 10px 0 0;
}
#main_board_tuto {
  background-color: rgba(0, 0, 0, 0.466);
  border: white 2px solid;
  border-radius: 10px;
  width: 356px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0 20px;
  margin-top: 90px;
  margin-left: auto;
  right: 0;
}
#main_board_tuto:hover {
  cursor: pointer;
}
#main_board_tuto:hover .main_content {
  display: flex;
  height: 80vh;
  overflow: auto;
}
#main_board_tuto h1 {
  font-family: "Koulen";
  font-size: 1.5rem;
  color: #f5dba6;
}
#main_board_tuto .main_content {
  width: 100%;
  display: none;
  flex-direction: column;
}
#main_board_tuto .main_content div h2 {
  color: white;
  font-family: "Koulen";
  font-size: 1.5rem;
}
#main_board_tuto .main_content div p {
  color: white;
}
