@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}
html,
body {
  height: 100%;
}
body {
  background: #726868;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* -------------------------------------------------------------------------- */
/*                                Progress Bar                                */
/* -------------------------------------------------------------------------- */
#top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
#top .containers {
  display: flex;
  flex-direction: column;
}
#top .containers .progress-container {
  border: solid #35354d;
  height: 30px;
  width: 400px;
  background: #ff0000;
  background: linear-gradient(90deg, #ff0000 54%, #000000 55%, #000000 100%);
  text-align: center;
  font-size: x-large;
  font-style: italic;
  color: white;
}
#top .containers .progress-container .progress {
  height: 100%;
  width: 200;
  min-width: 0px;
  max-width: 400px;
  z-index: 1;
}
#top .containers .progress-container .text {
  text-align: center;
}
#shop-button {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/*                                    Modals                                  */
/* -------------------------------------------------------------------------- */
.modal {
  padding: 0;
}
.modal .modal-content {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal .modal-content .top-modal {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.modal .modal-content .top-modal .title-modal {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.modal .modal-content .top-modal .close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 1000;
}
.modal .modal-content .top-modal .close-button:hover {
  color: #faa200;
  text-decoration: none;
  cursor: pointer;
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.modal#shop-modal[open] {
  animation: slide-up 100ms forwards, fade-in 250ms forwards;
}
.modal#chat-modal[open] {
  animation: slide-right 100ms forwards, fade-in 250ms forwards;
}
.modal::backdrop {
  animation: fade-in 250ms forwards;
}
.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 250ms forwards;
}
.modal[closing]::backdrop {
  animation: fade-out 250ms forwards;
}
.selected {
  background-color: red;
}
/* -------------------------------------------------------------------------- */
/*                                Close Button                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    Shop                                    */
/* -------------------------------------------------------------------------- */
#shop-modal {
  height: 700px;
  width: 1200px;
  overflow: hidden;
}
#shop-modal .modal-content {
  text-align: center;
}
#shop-modal .modal-content #shop {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: minmax(30px, auto);
}
#shop-modal .modal-content #shop .rubric {
  border: solid 2px black;
}
#shop-modal .modal-content #shop .clickable:hover:not(.selected) {
  color: #faa200;
  background-color: rgba(51, 255, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
}
#shop-modal .modal-content #shop #main-title {
  grid-column: 1/2;
  grid-row: 1/2;
  border-bottom: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
#shop-modal .modal-content #shop #main-title .clickable {
  padding: 5%;
}
#shop-modal .modal-content #shop #supplier {
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 4fr;
}
#shop-modal .modal-content #shop #supplier .clickable {
  padding: 12.5%;
}
#shop-modal .modal-content #shop #left-page {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#shop-modal .modal-content #shop #right-page {
  grid-column: 2/3;
  grid-row: 2/3;
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#shop-modal .modal-content #shop #left-page div,
#shop-modal .modal-content #shop #right-page div {
  margin: 1rem;
  border: dashed 2px black;
}
/* -------------------------------------------------------------------------- */
/*                                    Chat                                    */
/* -------------------------------------------------------------------------- */
#chat-modal {
  height: 700px;
  width: 300px;
  max-width: 700px;
  margin-left: 20px;
  overflow-y: auto;
}
#chat-modal #chatForm {
  display: flex;
  justify-content: space-between;
}
#chat-modal #chatForm input {
  border-radius: 8px;
  height: 2em;
  width: 75%;
}
#chat-modal #chatForm button {
  border-radius: 8px;
}
#chat-modal #messages {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
}
#chat-modal #messages .sender {
  display: grid;
  justify-content: right;
}
#chat-modal #messages .receiver {
  display: grid;
  justify-content: left;
}
#chat-modal #messages .username {
  font-size: small;
}
#chat-modal #messages .host {
  color: red;
}
#chat-modal #messages .J1 {
  color: #00ff00;
}
#chat-modal #messages .J2 {
  color: #e100ff;
}
#chat-modal #messages .J3 {
  color: blue;
}
/* -------------------------------------------------------------------------- */
/*                                 Parameters                                 */
/* -------------------------------------------------------------------------- */
#parameters {
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
}
#parameters .fa-volume-high,
#parameters .fa-volume-off {
  grid-column: 1/2;
  grid-row: 1/2;
}
#parameters .fa-bell,
#parameters .fa-bell-slash {
  grid-column: 2/3;
  grid-row: 1/2;
}
#parameters .fa-right-from-bracket {
  grid-column: 1/2;
  grid-row: 2/3;
}
#parameters .fa-gears {
  grid-column: 2/3;
  grid-row: 2/3;
}
#parameters i {
  font-size: 3em;
}
