@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*                               Some variables                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */
body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: url("/img/wave-haikei.svg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #eee;
  padding: 0;
  margin: 0;
}
.log-out {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 2.5rem;
  color: #eee;
  cursor: pointer;
}
.log-out:hover {
  color: #f5dba6;
}
/* -------------------------------------------------------------------------- */
/*                                Main content                                */
/* -------------------------------------------------------------------------- */
main {
  width: 50%;
  margin: auto;
}
main h1,
main h2,
main h3 {
  font-family: 'KoHo', sans-serif;
  letter-spacing: 0.15rem;
}
main h1 {
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 1px 2px 3px black;
}
main h2 {
  display: flex;
  align-items: center;
}
main ion-icon {
  color: #f5dba6;
  margin-right: 10px;
}
main .card {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'KoHo', sans-serif;
  margin-bottom: 25px;
}
main .card ul {
  list-style-type: none;
  padding: 0;
}
main .card .green {
  color: #f5dba6;
}
main .card:hover {
  background-color: #3f3c3a;
  transition: background-color 0.3s;
}
main .scoreboard {
  margin-top: 50px;
  margin-bottom: 50px;
}
main .games {
  margin-top: 50px;
}
main .games .card {
  cursor: pointer;
  padding-left: 40px;
}
main .games .card ion-icon {
  font-size: 2.5rem;
}
main .games .card ul {
  margin-left: 50px;
}
main .games #new_game {
  background-color: #f5dba6;
  color: #383331;
  border: 3px solid #f5dba6;
  justify-content: center;
  padding: 0;
}
main .games #new_game:hover {
  background-color: transparent;
  color: #f5dba6;
}
main .games #new_game:hover ion-icon {
  color: #f5dba6;
}
main .games #new_game ion-icon {
  color: #383331;
  margin-right: 5px;
  font-size: 1.5rem;
}
main #pseudo {
  display: flex;
  justify-content: left;
  align-items: baseline;
}
main #pseudo div {
  align-items: left;
}
main #pseudo span {
  color: red;
  display: none;
  font-family: 'KoHo', sans-serif;
  font-size: medium;
  font-weight: bold;
  margin-left: 3em;
  margin-top: 5px;
}
main #pseudo input {
  background-color: #383331;
  color: #eee;
  font-family: 'KoHo', sans-serif;
  font-size: medium;
  font-weight: bold;
  border: 3px solid #f5dba6;
  outline: none;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  height: 1.7em;
  width: 20em;
  margin-left: 3em;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
}
/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  main {
    width: 90%;
  }
  main h1 {
    margin-top: 70px;
  }
}
