@charset "UTF-8";
@font-face {
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/koulen/v25/AMOQz46as3KIBPeWgg.ttf) format('truetype');
}
/* -------------------------------------------------------------------------- */
/*                               Some variables                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */
body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #383331;
  background-image: url(/img/blob-haikei.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #eee;
  padding: 0;
  margin: 0;
}
.btn_xl a {
  font-size: 2.5rem;
  color: #f5dba6;
  text-decoration: none;
  text-align: center;
  font-family: "Koulen", sans-serif;
  border: 3px solid #f5dba6;
  border-radius: 10px;
  text-shadow: 1px 1px 2px #000;
  padding: 0% 5% 0%;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
.btn_xl a:hover {
  background-color: #f5dba6;
}
h1 {
  font-size: 2.5rem;
  text-shadow: 1px 2px 3px black;
  font-family: 'Koulen', sans-serif;
}
.btn {
  font-size: 1.5rem;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 3px solid #be2d32;
  border-radius: 10px;
  background-color: #be2d32;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  width: 90%;
  margin: auto;
}
header .logo table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid none;
  border-collapse: collapse;
}
header .logo table td {
  border: 1px solid none;
  color: #eee;
  font-family: 'Koulen', sans-serif;
  letter-spacing: 0.2rem;
}
header .logo table td h1 {
  font-size: 3.5rem;
  color: #f5dba6;
  text-shadow: 1px 1px 3px black;
}
header .logo table td .nav_link:hover {
  color: #f5dba6;
}
header .logo table td img {
  height: 25vh;
  width: auto;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  text-align: center;
  margin-right: 0%;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black;
  font-size: 2rem;
}
header nav:hover {
  color: #be2d32;
}
header nav table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid none;
  border-collapse: collapse;
}
header nav table td:last-child a {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header nav table td {
  border: 1px solid none;
  color: #eee;
  padding: 2.5rem;
  font-family: 'Koulen', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
}
header nav table td .nav_link:hover {
  color: #be2d32;
}
header a {
  text-decoration: none;
  color: #eee;
  font-family: 'Koulen', sans-serif;
}
header .btn {
  font-size: 1.8rem;
}
header .btn:hover {
  background-color: #f5dba6;
  color: white;
  cursor: pointer;
  border-color: white;
}
/* -------------------------------------------------------------------------- */
/*                                Main content                                */
/* -------------------------------------------------------------------------- */
.home-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  width: 90%;
  height: 60vh;
}
.home-main img {
  position: relative;
  width: auto;
  height: 100%;
  margin-right: 50px;
}
.home-main .home-content {
  border-radius: 0px;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: left;
  text-transform: uppercase;
  width: 40%;
}
.home-main .home-content h1 {
  font-size: 8rem;
  line-height: 7rem;
  text-shadow: 1px 1px 3px black;
  font-family: 'Koulen', sans-serif;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 2%;
  letter-spacing: 0.2rem;
  color: #f5dba6;
}
.home-main .home-content h2 {
  font-size: 1.5rem;
  font-family: 'Koulen', sans-serif;
  letter-spacing: 0.15rem;
  color: grey;
  margin: 0;
}
.home-main .home-content p {
  font-size: 1.7rem;
  line-height: 1.7rem;
  text-shadow: 1px 1px 2px #696969;
  font-family: 'Koulen', sans-serif;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 2%;
  letter-spacing: 0.2rem;
  color: #f5dba6;
}
.home-main .home-content .btn_xl :hover {
  color: white;
}
.home-main .home-content .btn_xl a {
  display: block;
  width: 50%;
  padding: 0px 20px 0 20px;
  border-radius: 10px;
}
.rules-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  width: 90%;
}
.rules-main h1 {
  font-size: 7rem;
  padding: 0%;
  margin-bottom: 2%;
  margin-top: 0%;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #f5dba6;
}
.rules-main .rules-content {
  font-size: 1rem;
  line-height: 2.3rem;
  width: 60%;
  text-align: left;
  font-family: sans-serif;
  text-shadow: 1px 1px 2px black;
}
.rules-main .rules-content p,
.rules-main .rules-content ul li {
  list-style: none;
  font-weight: bold;
  font-size: 1.3rem;
}
/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
footer {
  position: fixed;
  bottom: 0;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: 0%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
footer p {
  font-size: 0.7rem;
  color: whitesmoke;
  font-family: 'Koulen', sans-serif;
  padding-bottom: 0%;
}
/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 1400px) {
  .signup-main form input[type="submit"] {
    width: auto;
  }
}
@media screen and (max-width: 870px) {
  .background {
    display: none;
  }
  header {
    flex-direction: column;
  }
  header nav table tr td {
    padding: 20px;
  }
  .home-main {
    margin-top: 0;
  }
}
@media screen and (max-width: 350px) {
  header .logo a img {
    width: 100%;
    height: auto;
  }
}
